.skill-container{
    display: grid;
    grid-gap: 2rem;

    .tech-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        padding: 2rem;
    }

    svg{
        width: auto;
        height: 100%;
    }    
}

